.body, body {
  background-color: powderblue;
}

 .heading h1 {
  color: blue;
  font-family: verdana;
  font-weight: bold;
}

.heading-2 h2 {
  font-weight: bold;
}

p {
 color: black;
}

.table th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
